body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

p {
    margin: 10px;
    font-size: large;
    font-weight: bolder;
}

.button {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    flex-grow: 1;
}

.totalButton {
    background-color: #4287f5;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    width: 100%;
    flex-grow: 1;
}

.menButton {
    background-color: #4287f5;
}

.womenButton {
    background-color: #f542bf;
}

.youngadultsButton {
    background-color: #3a1730;
}

.youngkidsButton {
    background-color: rgb(127, 45, 148);
}

.infantButton {
    background-color: rgb(4, 75, 122);
}

.container {
    width: 100px;
    height: 70px;
    align-items: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.totalCount {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.adultsGroup {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.otherGroup {
    display: flex;
    justify-content: center;
    gap: 20px;
}